<div class="container-fluid">
    <div class="container text-center" style="color:tomato">
        <div class="row">
            <h1>AKTP HIGH SCHOOL</h1>
            <h2>(GOVT SCHOOL)</h2>
            <h3>Vijayawada (Corp.)-3, Krishna, Andhra Pradesh, Postal Code: 520011 India</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="background-color:tomato;">
        <div class="row">
            <div class="container" style="padding:0 5px 0 5px">
                <nav class="navbar" style="margin-bottom:0px">
                    <ul class="nav navbar-nav">
                        <li >
                            <a class="active main" href="#">HOME</a>
                        </li>
                        <li>
                            <a href="#">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#">MANAGEMENT</a>
                        </li>
                        <li>
                            <a href="#">ADMISSIONS</a>
                        </li>
                        <li>
                            <a href="#">ACADEMICS</a>

                        <li>
                            <a href="#">NEWS & EVENTS</a>
                        </li>
                        
                        <li class="dropdown show-on-hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAREER <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">LINK 1</a></li>
                              <li><a href="#">LINK 2</a></li>
                              <li><a href="#">LINK 3</a></li>
                              <li class="divider"></li>
                              <li><a href="#">LINK 4</a></li>
                              <li class="divider"></li>
                              <li><a href="#">LINK 5</a></li>
                            </ul>
                          </li>
                        <li>
                            <a href="#">PHOTO GALLEREY</a>
                        </li>
                        
                        <li class="dropdown show-on-hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTACT US <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">LINK 1</a></li>
                              <li><a href="#">LINK 2</a></li>
                              <li><a href="#">LINK 3</a></li>
                              <li class="divider"></li>
                              <li><a href="#">LINK 4</a></li>
                              <li class="divider"></li>
                              <li><a href="#">LINK 5</a></li>
                            </ul>
                          </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
</div>
