<div class="container text-center" style="color:tomato">
    <div class="row">
        <h1>A K T P M C HIGH SCHOOL</h1>
        <h5>Andhra Kesari Tanguturi Prakasam municipal corporation High School</h5>
        <h3>Vijayawada (Corp.)-3, Krishna, Andhra Pradesh, Postal Code: 520011 India</h3>
    </div>
</div>
<div class="navbar navbar-default nav-menu-bar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#">
                <a href><i class="fa fa-home" aria-hidden="true"></i></a>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/home']" [queryParams]="{ order: 'popular', id: id}"> Home</a>
                </li>
                <li>
                    <a routerLink="/about-us/{{id}}"> About US</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="cursor-pointer"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
            </ul>
        </div>
    </div>
</div>
<router-outlet>
</router-outlet>