@import '../../../../assets/styles/variables';
.nav-menu-bar {
    background: #337AB7;
    border: none;
    .navbar-header {
        .navbar-brand {
            height: 70px;
        }
    }
    .navbar-nav {
        li {
            a {
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 1.1em;
                color: #ffffff;
                &:hover {
                    color: #ffffff !important;
                    background-color: #337AB7 !important;
                }
            }
            &.active>a {
                color: #ffffff !important;
                background-color: #337AB7 !important;
            }
            &.open>a {
                color: #ffffff !important;
                background-color: #337AB7 !important;
            }
        }
        .dropdown-menu {
            background: #337AB7;
            li {
                ul.multi-level {
                    background: #337AB7;
                }
                a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}